.figure-cards-gallery {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-size: contain;
}

/* .figure-cards-gallery:hover {
  width: 200px;
  height: 230px;
  border-radius: 5px;
} */

.swiper-wrapper {
  display: flex;
}

.cards-container-gallery {
}

@media screen and (max-width: 450px) {
  .cards-projects {
    width: 260px;
  }
}
