.panel-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 35px 20px 55px;
  background: #ff590031;
  border-radius: 10px;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 1%;
}

@media screen and (max-width: 1230px) {
  .panel-section {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.panel-section h1 {
  font-family: "Montserrat";
  width: auto;
  font-size: 14px;
  font-weight: 600;
  background-color: #ff5a00;
  margin: 0 auto;

  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}

label {
  font-family: "Montserrat";
  margin-top: 10px;
}

#panel-form {
  display: flex;
  flex-direction: column;
  margin-left: 21%;
  margin-right: 21%;
  gap: 5px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  #panel-form {
    margin-left: 1%;
    margin-right: 1%;
  }
}

.btn-panel {
  width: auto;
  margin-top: 10px;
}

.btn-back-home {
  padding: 18px 40px;
  border-radius: 24px;
  border: 2px solid #262626;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  outline: none;
  margin: 30px 30px 30px 0;
  border-color: #e9e8b4;
  color: #ff5a00;
  background-color: #fff;
}

.style-btn-back-home {
  text-decoration: none;
  color: #ff5a00;
}

.btn-back-home:hover {
  background: linear-gradient(rgba(70, 34, 14, 0.6), rgba(43, 18, 5, 0.8));
}

.title-panel {
  font-family: "Montserrat";
  font-size: 30px;
}

.title-panel-e {
  font-family: "Montserrat";
  font-size: 20px;
}

.image-event {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card-events {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 500px; */
  /* background-color: blueviolet; */
}

.card-events-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  gap: 10px;
  /* background-color: brown; */
}

@media screen and (max-width: 931px) {
  .card-events-content {
    width: 100%;
  }
}

.content-panel {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 2px solid #ff5a00;
  border-radius: 5px;
  width: 400px;
}

.info-events {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 98%;
  background-color: azure;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 12px;
}

.info-projects {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 78%;
  background-color: azure;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 12px;
  margin-top: 5px;
}

.event-description {
  width: 100%;
  font-family: "Montserrat";
  font-size: 12px;
}

.event-description h3 {
  width: 100%;
  font-family: "Montserrat";
  font-size: 16px;
}

.button-panel {
  display: flex;
}

.not-event {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.not-event p {
  font-family: "Montserrat";
  background-color: #eeb8995e;
}

.logout {
  display: flex;
  justify-content: center;
  width: 20vw;
  margin-left: 75%;
  margin-top: -20px;
  cursor: pointer;
}

.logout h1 {
  font-size: 15px;
}

#to-projects {
  display: flex;
  justify-content: flex-start;
  width: 10vw;

  cursor: pointer;
}
