.container-home {

    width: 100%;
    /* background-color: #ff5a00; */

}

.slide-item {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner-home {
    position: relative;
}

.text-overlay {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(50%, -50%);
    text-align: center;
}

.text-overlay-2 {

    position: absolute;
    top: 38%;
    left: 12%;
    transform: translate(50%, -50%);
    text-align: center;

}

.buttons-overlay {
    position: absolute;
    top: 58%;
    left: 18%;
    transform: translate(50%, -50%);
    text-align: center;

}

.text-home {

    color: white;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: bold;

}

.text-home-2 {
    color: white;
    font-size: 18px;
    font-family: "Montserrat";


}

button {
    background-color: #FF5A00;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat";

}

.swiper-button-next {
    color: #FF5A00;
    margin-right: 100px;

}

.swiper-button-prev {
    color: #FF5A00;
    margin-left: 100px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FF5A00;
}



.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    /* background: #FF5A00; */



}

.cards-projects {
    width: 350px;
    height: 322.55px;
    padding: 40px;
    border-radius: 24px;
    background: #ecf2f5;
    text-align: center;
    transition: all .35s;

    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 5px;
        height: 2px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #FF5A00;


        border-radius: 20px;

    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #ecf2f5;
    }






}

.figure-cards {
    width: 50px;
    height: 50px;
}

.title {
    font-family: "Montserrat";
    margin-top: 28px;
    font-size: 24px;
    font-weight: 600;
    color: #262626;
}

.content {
    font-family: "Montserrat";
    margin: 20px;
    font-size: 14px;
    color: #595858;
    text-align: justify;
}




.swiper-cards {

    /* background-color: #dfc1b0; */
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px;
}

.cards-projects:hover {
    background-color: #FF5A00;

}

.cards-projects h3:hover,
.cards-projects p:hover {

    color: #ffffff;
}


.history-container {
    position: relative;
    padding: 96px 0;
    background: linear-gradient(rgba(70, 34, 14, 0.6), rgba(43, 18, 5, 0.8)),
        url(../../assets/history-bg.jpg) no-repeat center;
    background-size: cover;
    z-index: 99;
    height: 597.28px;

}

.history-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(59, 25, 3, 0.20);
}

.content-history {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;

    justify-content: space-around;

}

.title-history {
    font-family: "Montserrat";
    position: relative;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.title-history::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #ff5a00;
}

.text-content {
    font-family: "Montserrat";
    font-size: 14px;
    line-height: 2;
    color: #b7b7b7;
    margin-top: 3rem;
}

.button-history {
    padding: 18px 40px;
    border: none;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #ffffff;
    outline: none;
    margin: 30px 30px 30px 0;

}

.button-style {
    text-decoration: none;
    color: #ffffff;

}

.row-history-a {
    width: 50%;

    margin-left: 5%;

    text-align: justify;
}

.history-bg {
    display: flex;
    width: 540px;
    height: 381px;
}

.events-container {
    display: flex;
    font-family: "Montserrat";
    padding: 96px 0;
    margin-left: 15%;
    margin-right: 15%;

}

/* .events-container {
    display: flex;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} */





.box-events {
    display: flex;
    flex-direction: column;

    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;

}

.box-events p {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Montserrat";
    font-size: 14px;
    color: #929191;
}



.title-next-events h1 {
    font-family: "Montserrat";
    position: relative;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    color: #262626;
}

.title-next-events h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #ff5a00;
}

.box-next-events {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.content-events {
    display: flex;


}

/* .content-events h2, */
.content-events span,
.content-events p,
.content-events {
    margin-bottom: 20px;
    margin-top: 10px;

    /* Adicione o espaçamento desejado entre os elementos */
}



.title-events {
    margin-bottom: 5px;

}


.box-content-events h2 {
    font-family: "Montserrat";
    font-size: 18px;
}

.box-content-events span {
    font-family: "Montserrat";
    font-size: 11px;
    color: #262626;
}

.box-content-events {

    flex-direction: column;
    margin-left: 20px;
}





.about-events a {
    font-family: "Montserrat";
    text-decoration: none;
    color: #FF5A00;
    margin: 10px 0px 0px;
}



.box-events-active {
    display: flex;
    flex-direction: column;

    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: 15px;

}

.content-events-2 {
    display: flex;
    background-color: #ecf2f5;
    padding: 40px 24px;




}

.donate-events {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: "Montserrat";
    font-size: 14px;
    color: #929191;
}

.donate-events p {
    margin-top: 10px;
}

.donate-events button {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    cursor: pointer;
}

.progress-bar {

    background-color: #FF5A00;
}

.custom-progress {
    margin-top: 50px;


}

.financial-goals {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.financial-goals span {
    font-family: "Montserrat";
    font-size: 14px;
    color: #929191;
}
















.container-resume {
    /* background-color: #e9bdbd; */
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat";
    padding: 96px 0px;
    margin-left: 15%;
    margin-right: 15%;


}

.title-resume h1 {
    font-family: "Montserrat";
    position: relative;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    color: #262626;
    word-wrap: break-word;
    width: 520px;
}

.title-resume h1::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #ff5a00;
}

.resume-description {
    margin-top: 50px;
    width: 500px;
}

.image-record {
    width: 82px;
    height: 82px;
    margin-top: 170px;
}

.box-record {

    display: flex;
    gap: 30px;

}