.container-home {
  width: 100%;
  /* background-color: #ff5a00; */
}

.slide-item {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner-home {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(50%, -50%);
  text-align: center;
}

@media screen and (max-width: 500px) {
  .text-overlay {
    top: 10%;
    left: -65px;
    background-color: #26262628;
    border-radius: 10px;
  }
}

@media screen and (min-width: 501px) and (max-width: 767.98px) {
  .text-overlay {
    top: 10%;
    left: -80px;
    background-color: #26262628;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .text-overlay {
    top: 60px;
    left: 35px;
    transform: translate(50%, -50%);
    text-align: center;
    background-color: #26262663;
    border-radius: 10px;
  }
}

.text-overlay-2 {
  position: absolute;
  top: 38%;
  left: 3%;
  transform: translate(50%, -50%);
  text-align: center;
}

@media screen and (max-width: 500px) {
  .text-overlay-2 {
    top: 28%;
    left: -85px;
    background-color: #e45f1881;
    width: 250px;
    text-align: justify;
    border-radius: 10px;
  }
}

@media screen and (min-width: 501px) and (max-width: 767.98px) {
  .text-overlay-2 {
    top: 22%;
    left: -130px;
    background-color: #e45f1881;
    width: 310px;
    text-align: justify;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .text-overlay-2 {
    top: 150px;
    left: -150px;
    background-color: #e45f1881;
    width: 550px;
    text-align: justify;
    border-radius: 10px;
  }
}

.buttons-overlay {
  position: absolute;
  top: 58%;
  left: 14%;
  transform: translate(50%, -50%);
  text-align: center;
}

@media screen and (max-width: 500px) {
  .buttons-overlay {
    left: -10%;
    width: 200px;
    margin-top: 10%;
  }
}

@media screen and (min-width: 501px) and (max-width: 767.98px) {
  .buttons-overlay {
    left: -190px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .buttons-overlay {
    top: 400px;
    left: 100px;
  }
}

.buttons-overlay:hover {
  background: linear-gradient(rgba(204, 123, 79, 0.6), rgba(231, 102, 32, 0.8));
  border-radius: 10px;
}

.style-buttons-overlay {
  text-decoration: none;
  color: #f0e9e6;
}

.style-buttons-overlay:hover {
  color: #272222;
}

.text-home {
  color: white;
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: bold;
}

.text-home-2 {
  color: white;
  font-size: 18px;
  font-family: "Montserrat";
}

/* @media screen and (max-width: 767.98px) {
    .text-home-2 {
        margin-top: 20%;
    }
} */

/* @media screen and (min-width: 768px) and (max-width: 767.98px) {
    .text-home-2 {
        margin-top: 10%;
    }
} */

button {
  background-color: #ff5a00;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat";
}

.swiper-button-next {
  color: #ff5a00;
  margin-right: 100px;
}

.swiper-button-prev {
  color: #ff5a00;
  margin-left: 100px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ff5a00;
}

.cards-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.cards-projects {
  width: 350px;
  height: 322.55px;
  padding: 40px;
  border-radius: 24px;
  background: #ecf2f5;
  text-align: center;
  transition: all 0.35s;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ff5a00;

    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ecf2f5;
  }

  @media screen and (max-width: 575.98px) {
    width: 290px;
    height: 322.55px;
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 350px;
    height: 322.55px;
  }
}

.figure-cards {
  width: 50px;
  height: 50px;
}

.title {
  font-family: "Montserrat";
  margin-top: 28px;
  font-size: 24px;
  font-weight: 600;
  color: #262626;
}

.content {
  font-family: "Montserrat";
  margin: 20px;
  font-size: 14px;
  color: #595858;
  text-align: justify;
}

.swiper-cards {
  /* background-color: #dfc1b0; */
  margin-left: 10px;
  margin-right: 10px;
  padding: 40px;
}

.cards-projects:hover {
  background-color: #ff5a00;
}

.cards-projects:hover .title h3,
.cards-projects:hover .content p {
  color: #ffffff;
}

.history-container {
  position: relative;
  padding: 96px 0;
  background: linear-gradient(rgba(70, 34, 14, 0.6), rgba(43, 18, 5, 0.8)),
    url(../../assets/history-bg.jpg) no-repeat center;
  background-size: cover;
  z-index: 99;
  /* height: 597.28px; */
}

@media screen and (max-width: 1230px) {
  .history-container {
    overflow-y: auto;
    padding: 20px;
  }
}

.history-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(59, 25, 3, 0.2);
}

.content-history {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 15px;

  justify-content: space-around;
}

.title-history {
  font-family: "Montserrat";
  position: relative;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.title-history::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}

.text-content {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 2;
  color: #b7b7b7;
  margin-top: 3rem;
}

.button-history {
  padding: 18px 40px;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #ffffff;
  outline: none;
  margin: 30px 30px 30px 0;
}

.button-style {
  text-decoration: none;
  color: #ffffff;
}

.row-history-a {
  width: 50%;

  margin-left: 5%;

  text-align: justify;
}

@media screen and (max-width: 1230px) {
  .row-history-a {
    width: 100%;
  }
}

.history-bg {
  display: flex;
  width: 540px;
  height: 381px;
  border-radius: 10px;
}

@media screen and (max-width: 1230px) {
  .history-bg {
    display: none;
  }
}

.events-container {
  display: flex;
  font-family: "Montserrat";
  padding: 96px 0;
  margin-left: 15%;
  margin-right: 15%;
  gap: 30px;
}

@media screen and (max-width: 1230px) {
  .events-container {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.box-events {
  display: flex;
  flex: 1;
  flex-direction: column;

  /* padding-right: 15px;
    padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1230px) {
  .box-events {
    width: 80%;
  }
}

.box-events p {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Montserrat";
  font-size: 14px;
  color: #929191;
}

.title-next-events h1 {
  font-family: "Montserrat";
  position: relative;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
  color: #262626;
}

.title-next-events h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}

.box-next-events {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.content-events {
  display: flex;
}

/* .content-events h2, */
.content-events span,
.content-events p,
.content-events {
  margin-bottom: 20px;
  margin-top: 10px;

  /* Adicione o espaçamento desejado entre os elementos */
}

.title-events {
  margin-bottom: 5px;
}

.image-events {
  width: 100px;
  height: 100px;
}

.box-content-events h2 {
  font-family: "Montserrat";
  font-size: 18px;
}

.box-content-events span {
  font-family: "Montserrat";
  font-size: 11px;
  color: #262626;
}

.box-content-events {
  flex-direction: column;
  margin-left: 20px;
}

.about-events a {
  font-family: "Montserrat";
  text-decoration: none;
  color: #ff5a00;
  margin: 10px 0px 0px;
}

.box-events-active {
  display: flex;
  flex: 1;
  flex-direction: column;

  /* padding-right: 15px;
    padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 500px) {
  .box-events-active {
    width: 80%;
  }
}

@media screen and (min-width: 501px) and (max-width: 1230px) {
  .box-events-active {
    width: 80%;
  }
}

.content-events-2 {
  display: flex;
  background-color: #ecf2f5;
  padding: 40px 24px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .content-events-2 {
    flex-direction: column;
  }
}

.donate-events {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Montserrat";
  font-size: 14px;
  color: #929191;
}

.donate-events p {
  margin-top: 10px;
}

.donate-events button {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  cursor: pointer;
}

.progress-bar {
  background-color: #ff5a00;
}

.custom-progress {
  margin-top: 50px;
}

.financial-goals {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.financial-goals span {
  font-family: "Montserrat";
  font-size: 14px;
  color: #929191;
}

.container-resume {
  /* background-color: #e9bdbd; */
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat";
  padding: 96px 0px;
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 760px) {
  .container-resume {
    flex-direction: column;
  }
}

.title-resume h1 {
  font-family: "Montserrat";
  position: relative;
  padding-bottom: 20px;
  font-size: 36px;
  font-weight: 600;
  color: #262626;
  word-wrap: break-word;
  width: 520px;
}

.title-resume h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 64px;
  height: 4px;
  border-radius: 2px;
  background: #ff5a00;
}

@media screen and (max-width: 760px) {
  .title-resume h1 {
    font-size: 20px;
    width: 95%;
  }
}

.resume-description {
  margin-top: 50px;
  width: 500px;
}

@media screen and (max-width: 760px) {
  .resume-description {
    width: 95%;
  }
}

.image-record {
  width: 82px;
  height: 82px;
  margin-top: 170px;
}

.box-record {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 760px) {
  .box-record {
    gap: 5px;
  }
}
