.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-content {
  width: 80%;
  height: 80%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-close-button {
  margin-top: 10px;
  background: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.image-modal {
  margin: 0 auto;
  width: 400px;
  height: 300px;
}

@media screen and (max-width: 500px) {
  .image-modal {
    width: 200px;
    height: 100px;
  }
}
