* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

html,
body {
  overflow: hidden;
}

body {
  overflow-y: auto;

  font-family: 'Montserrat';

  &::-webkit-scrollbar {
    width: 10px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #FF5A00;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ecf2f5;
  }


}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}