* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

html,
body {
  overflow: hidden;
}

body {
  overflow-y: auto;
  /* Adicione a barra de rolagem vertical de volta */
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url("./fonts/Montserrat-Regular.ttf") format("truetype");
}